# Node.js
# Build a general Node.js project with npm.
# Add steps that analyze code, save build artifacts, deploy, and more:
# https://docs.microsoft.com/azure/devops/pipelines/languages/javascript

trigger:
- main

pool:
  vmImage: ubuntu-latest

steps:
- task: NodeTool@0
  inputs:
    versionSpec: '18.x'
  displayName: 'Install Node.js'

- script: |
    cd typescript
    npm install
    npm run build
    npm run test
  displayName: 'npm install, build, and test (TypeScript)'

- task: Npm@1
  inputs:
    command: 'custom'
    customCommand: 'pack'
    workingDir: '$(Build.SourcesDirectory)/typescript'
  displayName: 'npm pack library'

- task: CopyFiles@2
  inputs:
    SourceFolder: '$(Build.SourcesDirectory)/typescript'
    Contents: '*.tgz'
    TargetFolder: '$(Build.ArtifactStagingDirectory)/typescript'
  displayName: 'collect npm package'

- task: UseDotNet@2
  inputs:
    packageType: 'sdk'
    version: '8.0.x'
  displayName: 'Install .NET SDK'

- script: |
    cd dotnet
    dotnet restore ConnectedWorkbooks.sln
    dotnet build ConnectedWorkbooks.sln --configuration Release --no-restore
    dotnet test ConnectedWorkbooks.sln --configuration Release --no-build
  displayName: 'dotnet build and test'

- task: DotNetCoreCLI@2
  displayName: 'dotnet pack'
  inputs:
    command: 'pack'
    packagesToPack: 'dotnet/src/ConnectedWorkbooks/ConnectedWorkbooks.csproj'
    configuration: 'Release'
    nobuild: true
    includesymbols: true
    buildProperties: 'ContinuousIntegrationBuild=true'
    packDirectory: '$(Build.ArtifactStagingDirectory)/nuget'

- task: PublishPipelineArtifact@1
  inputs:
    targetPath: '$(Build.ArtifactStagingDirectory)'
    artifact: 'connected-workbooks-drop'
    publishLocation: 'pipeline'
  displayName: 'publish build artifacts'

- task: Npm@1
  displayName: 'publish npm package to internal feed'
  inputs:
    command: 'publish'
    publishRegistry: 'useFeed'
    publishFeed: '3046f601-a835-471b-8758-5953e60cb1a1/4aa42cde-db13-4c30-91ab-e4b8bd1d09f8'
    workingDir: '$(Build.SourcesDirectory)/typescript'